@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
}
body {
    background-color: #99f6e4;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 15px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    font-weight: 400;
    border-radius: 10px;
    background-color: #f1f5f9;
    filter: drop-shadow(5px 5px 10px #cbd5e1);
}
h1 {
    margin-bottom: 10px;
    font-weight: 900;
}
form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}
form div div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
form div div span {
    display: flex;
    align-items: center;
    gap: 5px;
}
form input,
textarea,
span {
    font-size: 0.9rem;
    font-weight: 300;
    background: transparent;
}
input:focus,
textarea:focus {
    outline: none;
}
form input[type='text'],
textarea,
button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #5eead4;
}
button {
    background-color: #5eead4;
}
.alert {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 300;
    background-color: #f1f5f9;
    filter: drop-shadow(5px 5px 10px #cbd5e1);
}
.berhasil {
    color: #22c55e;
}
.gagal {
    color: #dc2626;
}
.loading-box {
    display: flex;
    align-items: center;
    gap: 10px;
}
.loading-box .loading {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%, #5eead4);
    -webkit-mask: radial-gradient(
        farthest-side,
        #0000 calc(100% - 8px),
        #000 0
    );
    animation: loading 1s infinite linear;
}
.loading-box p {
    font-size: 0.8rem;
    font-weight: 300;
}
@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}
.hidden {
    display: none;
}
